body {
  margin: 0;
  font-family: "Trebuchet MS";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ea181e;
  margin: auto;
  padding: 0px 10px;
}

.headerNav {
  display: flex;
  align-items: center;
}

header img {
  height: 60px;
}

header p {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
  color: black;
}

:hover {
  color: white;
}

.cover {
  height: 400px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.headerLink {
  text-decoration: none;
}
